*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.output-field{
    width: 40%;
    height: 7vh;
    background-color: rgba(100, 100, 100, 0.2);
    color: brown;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    font-style: italic;
    font-family: "Itim", serif;
    background: linear-gradient();
}
#row2-box{
    background-color: aquamarine;
    position: relative;
    
}
#image-box{
    width: 600px;
    position: absolute;
    top: 0;
    left: 357px;
    z-index: 1;
}
#detail-box{
    width: 600px;
    position: absolute;
    top: 0px;
    right: 400px;   
    z-index: 0;                 ;
}

    
    